body{
  font-family: 'Arvo', serif;
  background-color: #cfd8dc;
  height:100%;
  background: url(../img/background.jpg);
  background-attachment: scroll;
}

.cabecera{
height: 12rem;
border: none;
border-radius: 0px;
box-shadow: none;
}

.contenedorbotones{
box-shadow: none;
height: 12rem;
border-radius: 0px;
padding: 2rem;
}

.cont-logo{
  border-radius: 15px;
}

.slogan{
position:absolute;
left:0px;
right:0px;
bottom:0px;
height:50px;
z-index:0;
}

.colredes{
  margin-top:33px;
  box-shadow: none;


}
.redes{
  height: 4rem;
  margin: 5%;
  box-shadow: none;
}
.colcentral{
  margin-top:18px;
  min-height: 500px;
  padding: 5rem;
}
.botones{
  margin: 2px;
}

.fotocentral{
  padding: 1rem;
}

p{
  text-align: justify;
}

.formulario{
  margin-top:15px;
  box-shadow: none;
  color: white;

}
